<html>
    <head>
        <title>Amazon Finds</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="../static/icons/dark-plane.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Work+Sans:wght@400;900&display=swap');
            .dark{
                background-color: #222222;
                font-family: 'Open Sans', sans-serif;
                color: whitesmoke;
            }
            .white{
                background-color: whitesmoke;
                font-family: 'Open Sans', sans-serif;
                color: #222222;
            }
            .dark-div{
                background-color:#323232;
            }
            .white-div{
                background-color: #cfcfcf;
            }
            input.form-control.dark {
                background-color:#424242;
                color: white;
                border: #202020;
            }
            input.form-control.white {
                background-color:#e9e9e9;
                color: black;
            }
            .nav-bg{
                background-color:#001f2a;
            }
            #topbutton{
                display: none;
                position: fixed;
                bottom: 20px;
                right: 30px;
                z-index: 99;
                font-size: 18px;
                border: none;
                outline: none;
                border-radius: 20px;
                padding-top: 8px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 6px;
            }
        </style>
    </head>
    <body class="white">
        <nav class="navbar navbar-expand-lg navbar-dark nav-bg" id="navbar">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><b><img src="../static/icons/white-plane-small.png">Amazon Finds</b></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" style="font-size: 18px;" href="#">About us</a>
                  </li>
                </ul>
                <!-- <div class="d-flex">
                    <div class="form-check form-switch" style="margin-left:4px;margin-right:8px;">
                        <label for="in" style="color:white;font-size:18px;">Dark Mode</label>
                        <input type="checkbox" id="in" onclick="theme()" style="font-size: 18px;" class="form-check-input">
                    </div>
                </div> -->
              </div>
            </div>
        </nav>
        <button id="topbutton" class="btn btn-dark" onclick="topFunction()"><i style="font-size:30px;" class="bi bi-arrow-bar-up"></i></button>
        <center>
        <div style="width: 99%;max-width:1150px;margin-top:1%;" id="search_div">
            <form action="/search" method="POST">
                <div class="input-group mb-3">
                    <select name="filter" class="btn btn-dark dropdown" id="filter" onclick="changesearch()" style="font-size: 18px;width:100px;">
                        <option value="all">All</option>
                        <option value="homeapp">Home Appliances &ThickSpace;</option>
                        <option value="elderassist">Elder Assistance</option>
                        <option value="elect">Electronic</option>
                    </select>
                    <input type="text" class="form-control white" placeholder="Find Products" name="search_bar" style="font-size: 18px;">
                    <input type="submit" value="Search" class="btn btn-primary" style="font-size: 18px;">
                    <a class="btn btn-dark" href="/clearfilter" type="button" style="font-size: 18px;">Clear</a>
                </div>
            </form>
        </div>
        </center>
        <br>
        <div class="container">
            {% if display == [] %}
            <h1>No Posts Found</h1>
            {% else %}
            {% for i in display %}
            <div class="row">
                {% for o in i %}
                <div class="col">
                    <a href="/product/id={{o[0]}}"><div class="card white-div" id="div" style="margin-bottom: 6.5%; height:500px;border:0px;">
                        <center>
                        <img src="{{o[7].split(',')[0]}}" height="260px" alt="{{o[2]}}" style="margin-top: 5%;" class="rounded">
                        </center>
                        <div class="card-body">
                            <p class="card-title" style="font-size:18px;"><b>{{o[2]}}</b></p>
                            {% if o[8] == "1" %}
                            <p class="card-text" style="font-size: 18px;"><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i></p>
                            {% elif o[8] == "2" %}
                            <p class="card-text" style="font-size: 18px;"><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i></p>
                            {% elif o[8] == "3" %}
                            <p class="card-text" style="font-size: 18px;"><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i></p>
                            {% elif o[8] == "4" %}
                            <p class="card-text" style="font-size: 18px;"><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i></p>
                            {% elif o[8] == "5" %}
                            <p class="card-text" style="font-size: 18px;"><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i></p>
                            {% elif o[8] == "0" %}
                            <p class="card-text" style="font-size: 18px;">No Ratings</p>
                            {% endif %}
                            <p class="card-text" style="font-size: 18px;"></p>
                            <p style="font-size: 18px;" class="btn btn-warning"><i>{{o[4]}}</i></p>
                            <a href="/buynow/{{o[0]}}" class="btn btn-info" style="float: right;margin-right:4%;font-size:18px;color:white;"><b>Buy Now <i class="fa fa-amazon"></i></b></a>
                        </div>
                    </div></a>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <br>
        <script>
            mybutton = document.getElementById("topbutton");
            window.onscroll = function() {scrollFunction()};

            function theme(){
                var body = document.body;
                var card_div = document.querySelectorAll('.white-div')
                var buttons = document.querySelectorAll('.btn btn-dark')
                if (body.className == "white"){
                    body.className = 'dark'
                    for (var i = 0;i<card_div.length;i++){
                        card_div[i].className = "card dark-div"
                    }
                    for (var i = 0;i<buttons.length;i++){
                        buttons[i].className = "btn btn-light"
                    }
                } else {
                    body.className = 'white'
                    for (var i = 0;i<card_div.length;i++){
                        card_div[i].className = "card white-div"
                    }
                    for (var i = 0;i<buttons.length;i++){
                        buttons[i].className = "btn btn-dark"
                    }
                }
            }

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }

            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }

            function changesearch(){
                var div = document.getElementById('search_div');
                var fil = document.getElementById('filter').value;
                if (fil == "homeapp"){
                    div.innerHTML = 
                    `
                    <form action="/search" method="POST">
                        <div class="input-group mb-3">
                            <select name="cata" class="btn btn-dark dropdown" id="filter" oninput="changesearch()" style="font-size: 18px;width:100px;">
                                <option value="all">All</option>
                                <option value="homeapp" selected>Home Appliances</option>
                                <option value="elderassist">Elder Assistance</option>
                                <option value="elect">Electronic</option>
                            </select>
                            <select name="sub_fil" class="btn btn-dark dropdown" style="font-size: 18px;">
                                <option value="Home/Kichten">Kitchen</option>
                                <option value="Home/Bathroom">Bathroom</option>
                            </select>
                            <input type="text" class="form-control" placeholder="Find Products" name="search_bar" style="font-size: 18px;">
                            <input type="submit" value="Search" class="btn btn-primary" style="font-size: 18px;">
                            <button class="btn btn-dark" type="button" style="font-size: 18px;">Clear</button>
                          </div>
                    </form>
                    `;
                }
                if (fil == "elderassist"){
                    div.innerHTML = 
                    `
                    <form action="/search" method="POST">
                        <div class="input-group mb-3">
                            <select name="cata" class="btn btn-dark dropdown" id="filter" oninput="changesearch()" style="font-size: 18px;width:100px;">
                                <option value="all">All</option>
                                <option value="homeapp">Home Appliances</option>
                                <option value="elderassist" selected>Elder Assistance</option>
                                <option value="elect">Electronic</option>
                            </select>
                            <select name="sub_fil" class="btn btn-dark dropdown" style="font-size: 18px;">
                                <option value="Elder/Cushions">Cushions</option>
                                <option value="Elder/Accupenture">Accupenture</option>
                            </select>
                            <input type="text" class="form-control" placeholder="Find Products" name="search_bar" style="font-size: 18px;">
                            <input type="submit" value="Search" class="btn btn-primary" style="font-size: 18px;">
                            <button class="btn btn-dark" type="button" style="font-size: 18px;">Clear</button>
                          </div>
                    </form>
                    `;
                }
                if (fil == "elect"){
                    div.innerHTML = 
                    `
                    <form action="/search" method="POST">
                        <div class="input-group mb-3">
                            <select name="cata" class="btn btn-dark dropdown" id="filter" oninput="changesearch()" style="font-size: 18px;width:100px;">
                                <option value="all">All</option>
                                <option value="homeapp">Home Appliances</option>
                                <option value="elderassist">Elder Assistance</option>
                                <option value="elect" selected>Electronic</option>
                            </select>
                            <select name="sub_fil" class="btn btn-dark dropdown" style="font-size: 18px;">
                                <option value="Electronics/Mobile">Mobile</option>
                                <option value="Electronics/Laptop">Laptop</option>
                            </select>
                            </select>
                            <input type="text" class="form-control" placeholder="Find Products" name="search_bar" style="font-size: 18px;">
                            <input type="submit" value="Search" class="btn btn-primary" style="font-size: 18px;">
                            <button class="btn btn-dark" type="button" style="font-size: 18px;">Clear</button>
                          </div>
                    </form>
                    `;
                }
                /*if (fil == "all"){
                    div.innerHTML =
                    `
                    <form action="/search" method="POST">
                        <div class="input-group mb-3">
                            <select name="filter" class="btn btn-dark dropdown" id="filter" onclick="changesearch()" style="font-size: 18px;width:100px;">
                                <option value="all" selected>All</option>
                                <option value="homeapp">Home Appliances &ThickSpace;</option>
                                <option value="elderassist">Elder Assistance</option>
                                <option value="elect">Electronic</option>
                            </select>
                            <input type="text" class="form-control" placeholder="Find Products" name="search_bar" style="font-size: 18px;">
                            <input type="submit" value="Search" class="btn btn-primary" style="font-size: 18px;">
                            <a class="btn btn-dark" href="/clearfilter" type="button" style="font-size: 18px;">Clear</a>
                        </div>
                    </form>
                    `;
                }*/
            }
        </script>
    </body>
</html>