<html>
    <head>
        <title>Amazon Finds</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Work+Sans:wght@400;900&display=swap');
            .dark{
                background-color: #222222;
                font-family: 'Open Sans', sans-serif;
                color: whitesmoke;
            }
            .white{
                background-color: whitesmoke;
                font-family: 'Open Sans', sans-serif;
                color: #222222;
            }
            .dark-div{
                background-color:#323232;
            }
            .white-div{
                background-color: #cfcfcf;
            }
            input.form-control.dark {
                background-color:#202020;
                color: white;
                border: #202020;
            }
            input.form-control.white {
                background-color:#e9e9e9;
                color: black;
            }
            .nav-bg{
                background-color:#001f2a;
            }
            #topbutton{
                display: none;
                position: fixed;
                bottom: 20px;
                right: 30px;
                z-index: 99;
                font-size: 18px;
                border: none;
                outline: none;
                border-radius: 20px;
                padding-top: 8px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 6px;
            }
            .gridcard{
                margin-bottom: 6.5%;
            }
        </style>
    </head>
    <body class="white">
        <nav class="navbar navbar-expand-lg navbar-dark nav-bg" id="navbar">
            <a class="navbar-brand" href="/"><b><img src="../static/icons/white-plane-small.png">Amazon Finds</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" style="margin-right: 10px;" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#" style="margin-left: 4px;">About Us</a>
                  </li>
                  <!-- <li>
                    <div class="form-check form-switch" style="margin-top: 6px;margin-left:8px;">
                        <label></label>
                        <input type="checkbox" onclick="theme()" style="font-size: 18px;" class="form-check-input">
                    </div>
                  </li> -->
                </ul>
              </div>
            </div>
        </nav>
        <button id="topbutton" class="btn btn-dark" onclick="topFunction()"><i style="font-size:30px;" class="bi bi-arrow-bar-up"></i></button>
        <br><br>
        <div class="container-fluid" style="width: 95%;">
            <div class="row">
                <div class="col-5" style="min-width: 500px;margin:auto;overflow:auto;margin-top:0;margin-bottom:6.5%;">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{{p[7].split(',')[0]}}" class="rounded d-block w-100">
                          </div>
                          <div class="carousel-item">
                            <img src="{{p[7].split(',')[3]}}" class="rounded d-block w-100">
                          </div>
                          <div class="carousel-item">
                            <img src="{{p[7].split(',')[2]}}" class="rounded d-block w-100">
                          </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <b><span class="bi bi-chevron-left" style="color: black;font-size:30px;" aria-hidden="true"></span></b>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button  class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <b><span class="bi bi-chevron-right" style="color: black;font-size:30px;"aria-hidden="true"></span></b>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-5" style="margin-bottom:6.5%;min-width:470px;text-align:left;">
                    <h5><b>{{p[2]}}</b></h5>
                    <p style="font-size:17px;">
                        Sold By - {{p[10]}}<br>
                        Catagory - {{p[5]}}
                    </p>
                    <p class="btn btn-warning"><b>Current Price - {{p[4]}}</b></p>
                    <br>
                    <p style="font-size: 20px;"><b>About this Item</b></p>
                    <ul>
                    {% for i in p[3].split('~') %}
                    <li style="font-size: 19px;">{{i}}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col" style="margin-bottom:6.5%;min-width:180px;">
                    <center>
                    <div class="white-div" style="border-radius: 5px;width:100%;height:max-content;">
                        <div>
                        <br>
                        <p style="font-size:25px;margin:4px;"><b>{{p[4]}}</b></p>
                        {% if p[9].split(' ')[0] == 'In' %}
                        <p style="color:#13e600;font-size:25px;margin:4px;"><b>{{p[9]}}</b></p>
                        {% else %}
                        <p style="color:#ff4d4d;font-size:25px;margin:4px;"><b>{{p[9]}}</b></p>
                        {% endif %}
                        {% if p[8] == "1" %}
                        <p class="card-text" style="font-size: 22px;"><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i></p>
                        {% elif p[8] == "2" %}
                        <p class="card-text" style="font-size: 22px;"><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i></p>
                        {% elif p[8] == "3" %}
                        <p class="card-text" style="font-size: 22px;"><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i></p>
                        {% elif p[8] == "4" %}
                        <p class="card-text" style="font-size: 22px;"><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star" style="color: yellow;"></i></p>
                        {% elif p[8] == "5" %}
                        <p class="card-text" style="font-size: 22px;"><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i><i class="bi bi-star-fill" style="color: yellow;"></i></p>
                        {% elif p[8] == "0" %}
                        <p class="card-text" style="font-size: 18px;"><b>No Ratings</b></p>
                        {% endif %}
                        <a href="/buynow/{{p[0]}}" class="btn btn-info" style="border-radius: 10px;color:white;font-size:20px;margin-bottom: 20px;"><b>Buy Now <i class="fa fa-amazon"></i></b></a>
                        <br>
                        </div>
                    </div>
                    </center>
                </div>
            </div>
        </div>
        <script>
            mybutton = document.getElementById("topbutton");
            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }

            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
    </body>
</html>